ANSv4/Catalogo3/Service References/WSPedidos/Pedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarPedido7">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transporte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarPedido7Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarPedido7Result" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarPedido7SoapIn">
    <wsdl:part name="parameters" element="tns:EnviarPedido7" />
  </wsdl:message>
  <wsdl:message name="EnviarPedido7SoapOut">
    <wsdl:part name="parameters" element="tns:EnviarPedido7Response" />
  </wsdl:message>
  <wsdl:portType name="PedidosSoap">
    <wsdl:operation name="EnviarPedido7">
      <wsdl:input message="tns:EnviarPedido7SoapIn" />
      <wsdl:output message="tns:EnviarPedido7SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PedidosSoap" type="tns:PedidosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarPedido7">
      <soap:operation soapAction="http://tempuri.org/EnviarPedido7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PedidosSoap12" type="tns:PedidosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarPedido7">
      <soap12:operation soapAction="http://tempuri.org/EnviarPedido7" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pedidos">
    <wsdl:port name="PedidosSoap" binding="tns:PedidosSoap">
      <soap:address location="http://190.3.78.12/wsCatalogo3/Pedidos.asmx" />
    </wsdl:port>
    <wsdl:port name="PedidosSoap12" binding="tns:PedidosSoap12">
      <soap12:address location="http://190.3.78.12/wsCatalogo3/Pedidos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>