ANSv4/Catalogo4/Web References/UpdateClientesWS/UpdateClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTodosLosClientes_Cantidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodosLosClientes_CantidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTodosLosClientes_CantidadResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodosLosClientes_Datos_Registros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodosLosClientes_Datos_RegistrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTodosLosClientes_Datos_RegistrosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodasLasCtasCtes_Cantidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodasLasCtasCtes_CantidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTodasLasCtasCtes_CantidadResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodasLasCtasCtes_Datos_Registros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodasLasCtasCtes_Datos_RegistrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTodasLasCtasCtes_Datos_RegistrosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SincronizacionClientesCompletada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SincronizacionClientesCompletadaResponse">
        <s:complexType />
      </s:element>
      <s:element name="SincronizacionCtasCtesCompletada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SincronizacionCtasCtesCompletadaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTodosLosClientes_CantidadSoapIn">
    <wsdl:part name="parameters" element="tns:GetTodosLosClientes_Cantidad" />
  </wsdl:message>
  <wsdl:message name="GetTodosLosClientes_CantidadSoapOut">
    <wsdl:part name="parameters" element="tns:GetTodosLosClientes_CantidadResponse" />
  </wsdl:message>
  <wsdl:message name="GetTodosLosClientes_Datos_RegistrosSoapIn">
    <wsdl:part name="parameters" element="tns:GetTodosLosClientes_Datos_Registros" />
  </wsdl:message>
  <wsdl:message name="GetTodosLosClientes_Datos_RegistrosSoapOut">
    <wsdl:part name="parameters" element="tns:GetTodosLosClientes_Datos_RegistrosResponse" />
  </wsdl:message>
  <wsdl:message name="GetTodasLasCtasCtes_CantidadSoapIn">
    <wsdl:part name="parameters" element="tns:GetTodasLasCtasCtes_Cantidad" />
  </wsdl:message>
  <wsdl:message name="GetTodasLasCtasCtes_CantidadSoapOut">
    <wsdl:part name="parameters" element="tns:GetTodasLasCtasCtes_CantidadResponse" />
  </wsdl:message>
  <wsdl:message name="GetTodasLasCtasCtes_Datos_RegistrosSoapIn">
    <wsdl:part name="parameters" element="tns:GetTodasLasCtasCtes_Datos_Registros" />
  </wsdl:message>
  <wsdl:message name="GetTodasLasCtasCtes_Datos_RegistrosSoapOut">
    <wsdl:part name="parameters" element="tns:GetTodasLasCtasCtes_Datos_RegistrosResponse" />
  </wsdl:message>
  <wsdl:message name="SincronizacionClientesCompletadaSoapIn">
    <wsdl:part name="parameters" element="tns:SincronizacionClientesCompletada" />
  </wsdl:message>
  <wsdl:message name="SincronizacionClientesCompletadaSoapOut">
    <wsdl:part name="parameters" element="tns:SincronizacionClientesCompletadaResponse" />
  </wsdl:message>
  <wsdl:message name="SincronizacionCtasCtesCompletadaSoapIn">
    <wsdl:part name="parameters" element="tns:SincronizacionCtasCtesCompletada" />
  </wsdl:message>
  <wsdl:message name="SincronizacionCtasCtesCompletadaSoapOut">
    <wsdl:part name="parameters" element="tns:SincronizacionCtasCtesCompletadaResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdateClientesSoap">
    <wsdl:operation name="GetTodosLosClientes_Cantidad">
      <wsdl:input message="tns:GetTodosLosClientes_CantidadSoapIn" />
      <wsdl:output message="tns:GetTodosLosClientes_CantidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTodosLosClientes_Datos_Registros">
      <wsdl:input message="tns:GetTodosLosClientes_Datos_RegistrosSoapIn" />
      <wsdl:output message="tns:GetTodosLosClientes_Datos_RegistrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasCtasCtes_Cantidad">
      <wsdl:input message="tns:GetTodasLasCtasCtes_CantidadSoapIn" />
      <wsdl:output message="tns:GetTodasLasCtasCtes_CantidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasCtasCtes_Datos_Registros">
      <wsdl:input message="tns:GetTodasLasCtasCtes_Datos_RegistrosSoapIn" />
      <wsdl:output message="tns:GetTodasLasCtasCtes_Datos_RegistrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SincronizacionClientesCompletada">
      <wsdl:input message="tns:SincronizacionClientesCompletadaSoapIn" />
      <wsdl:output message="tns:SincronizacionClientesCompletadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SincronizacionCtasCtesCompletada">
      <wsdl:input message="tns:SincronizacionCtasCtesCompletadaSoapIn" />
      <wsdl:output message="tns:SincronizacionCtasCtesCompletadaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateClientesSoap" type="tns:UpdateClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTodosLosClientes_Cantidad">
      <soap:operation soapAction="http://tempuri.org/GetTodosLosClientes_Cantidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodosLosClientes_Datos_Registros">
      <soap:operation soapAction="http://tempuri.org/GetTodosLosClientes_Datos_Registros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasCtasCtes_Cantidad">
      <soap:operation soapAction="http://tempuri.org/GetTodasLasCtasCtes_Cantidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasCtasCtes_Datos_Registros">
      <soap:operation soapAction="http://tempuri.org/GetTodasLasCtasCtes_Datos_Registros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizacionClientesCompletada">
      <soap:operation soapAction="http://tempuri.org/SincronizacionClientesCompletada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizacionCtasCtesCompletada">
      <soap:operation soapAction="http://tempuri.org/SincronizacionCtasCtesCompletada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateClientesSoap12" type="tns:UpdateClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTodosLosClientes_Cantidad">
      <soap12:operation soapAction="http://tempuri.org/GetTodosLosClientes_Cantidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodosLosClientes_Datos_Registros">
      <soap12:operation soapAction="http://tempuri.org/GetTodosLosClientes_Datos_Registros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasCtasCtes_Cantidad">
      <soap12:operation soapAction="http://tempuri.org/GetTodasLasCtasCtes_Cantidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodasLasCtasCtes_Datos_Registros">
      <soap12:operation soapAction="http://tempuri.org/GetTodasLasCtasCtes_Datos_Registros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizacionClientesCompletada">
      <soap12:operation soapAction="http://tempuri.org/SincronizacionClientesCompletada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizacionCtasCtesCompletada">
      <soap12:operation soapAction="http://tempuri.org/SincronizacionCtasCtesCompletada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateClientes">
    <wsdl:port name="UpdateClientesSoap" binding="tns:UpdateClientesSoap">
      <soap:address location="http://190.3.78.12/wsCatalogo4/UpdateClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateClientesSoap12" binding="tns:UpdateClientesSoap12">
      <soap12:address location="http://190.3.78.12/wsCatalogo4/UpdateClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>