ANSv4/CatalogoLibraryVB/Web References/VerExistenciaWS/VerExistencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerExistencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDAns" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdProducto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerExistenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerExistenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerZonaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDAns" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerZonaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerZonaClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerExistenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerExistencia" />
  </wsdl:message>
  <wsdl:message name="ObtenerExistenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerZonaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerZonaCliente" />
  </wsdl:message>
  <wsdl:message name="ObtenerZonaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerZonaClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="VerExistenciaSoap">
    <wsdl:operation name="ObtenerExistencia">
      <wsdl:input message="tns:ObtenerExistenciaSoapIn" />
      <wsdl:output message="tns:ObtenerExistenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonaCliente">
      <wsdl:input message="tns:ObtenerZonaClienteSoapIn" />
      <wsdl:output message="tns:ObtenerZonaClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VerExistenciaSoap" type="tns:VerExistenciaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerExistencia">
      <soap:operation soapAction="http://tempuri.org/ObtenerExistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonaCliente">
      <soap:operation soapAction="http://tempuri.org/ObtenerZonaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VerExistenciaSoap12" type="tns:VerExistenciaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerExistencia">
      <soap12:operation soapAction="http://tempuri.org/ObtenerExistencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonaCliente">
      <soap12:operation soapAction="http://tempuri.org/ObtenerZonaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerExistencia">
    <wsdl:port name="VerExistenciaSoap" binding="tns:VerExistenciaSoap">
      <soap:address location="http://190.3.78.12/wsOracle/VerExistencia.asmx" />
    </wsdl:port>
    <wsdl:port name="VerExistenciaSoap12" binding="tns:VerExistenciaSoap12">
      <soap12:address location="http://190.3.78.12/wsOracle/VerExistencia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>