ANSv4/Catalogo3/Service References/WSInterDeposito/InterDeposito.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarInterDeposito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroInterDeposito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bco_Dep_Tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bco_Dep_Fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bco_Dep_Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bco_Dep_Monto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bco_Dep_Ch_Cantidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bco_Dep_IdCta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarInterDepositoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarInterDepositoResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarInterDepositoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarInterDeposito" />
  </wsdl:message>
  <wsdl:message name="EnviarInterDepositoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarInterDepositoResponse" />
  </wsdl:message>
  <wsdl:portType name="InterDepositoSoap">
    <wsdl:operation name="EnviarInterDeposito">
      <wsdl:input message="tns:EnviarInterDepositoSoapIn" />
      <wsdl:output message="tns:EnviarInterDepositoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InterDepositoSoap" type="tns:InterDepositoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarInterDeposito">
      <soap:operation soapAction="http://tempuri.org/EnviarInterDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterDepositoSoap12" type="tns:InterDepositoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarInterDeposito">
      <soap12:operation soapAction="http://tempuri.org/EnviarInterDeposito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterDeposito">
    <wsdl:port name="InterDepositoSoap" binding="tns:InterDepositoSoap">
      <soap:address location="http://190.3.78.12/wsCatalogo3/InterDeposito.asmx" />
    </wsdl:port>
    <wsdl:port name="InterDepositoSoap12" binding="tns:InterDepositoSoap12">
      <soap12:address location="http://190.3.78.12/wsCatalogo3/InterDeposito.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>