ANSv4/Catalogo4/Web References/CatalogoWS/Info.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetIp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetIpResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIpIntranet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIpIntranetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIpIntranetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIpIntranet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIpIntranetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetIpIntranetResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIpCatalogo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIpCatalogoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIpCatalogoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIpCatalogo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIpCatalogoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetIpCatalogoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIpSoapIn">
    <wsdl:part name="parameters" element="tns:GetIp" />
  </wsdl:message>
  <wsdl:message name="GetIpSoapOut">
    <wsdl:part name="parameters" element="tns:GetIpResponse" />
  </wsdl:message>
  <wsdl:message name="SetIpSoapIn">
    <wsdl:part name="parameters" element="tns:SetIp" />
  </wsdl:message>
  <wsdl:message name="SetIpSoapOut">
    <wsdl:part name="parameters" element="tns:SetIpResponse" />
  </wsdl:message>
  <wsdl:message name="GetIpIntranetSoapIn">
    <wsdl:part name="parameters" element="tns:GetIpIntranet" />
  </wsdl:message>
  <wsdl:message name="GetIpIntranetSoapOut">
    <wsdl:part name="parameters" element="tns:GetIpIntranetResponse" />
  </wsdl:message>
  <wsdl:message name="SetIpIntranetSoapIn">
    <wsdl:part name="parameters" element="tns:SetIpIntranet" />
  </wsdl:message>
  <wsdl:message name="SetIpIntranetSoapOut">
    <wsdl:part name="parameters" element="tns:SetIpIntranetResponse" />
  </wsdl:message>
  <wsdl:message name="GetIpCatalogoSoapIn">
    <wsdl:part name="parameters" element="tns:GetIpCatalogo" />
  </wsdl:message>
  <wsdl:message name="GetIpCatalogoSoapOut">
    <wsdl:part name="parameters" element="tns:GetIpCatalogoResponse" />
  </wsdl:message>
  <wsdl:message name="SetIpCatalogoSoapIn">
    <wsdl:part name="parameters" element="tns:SetIpCatalogo" />
  </wsdl:message>
  <wsdl:message name="SetIpCatalogoSoapOut">
    <wsdl:part name="parameters" element="tns:SetIpCatalogoResponse" />
  </wsdl:message>
  <wsdl:portType name="InfoSoap">
    <wsdl:operation name="GetIp">
      <wsdl:input message="tns:GetIpSoapIn" />
      <wsdl:output message="tns:GetIpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetIp">
      <wsdl:input message="tns:SetIpSoapIn" />
      <wsdl:output message="tns:SetIpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIpIntranet">
      <wsdl:input message="tns:GetIpIntranetSoapIn" />
      <wsdl:output message="tns:GetIpIntranetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetIpIntranet">
      <wsdl:input message="tns:SetIpIntranetSoapIn" />
      <wsdl:output message="tns:SetIpIntranetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIpCatalogo">
      <wsdl:input message="tns:GetIpCatalogoSoapIn" />
      <wsdl:output message="tns:GetIpCatalogoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetIpCatalogo">
      <wsdl:input message="tns:SetIpCatalogoSoapIn" />
      <wsdl:output message="tns:SetIpCatalogoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfoSoap" type="tns:InfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIp">
      <soap:operation soapAction="http://tempuri.org/GetIp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIp">
      <soap:operation soapAction="http://tempuri.org/SetIp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIpIntranet">
      <soap:operation soapAction="http://tempuri.org/GetIpIntranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIpIntranet">
      <soap:operation soapAction="http://tempuri.org/SetIpIntranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIpCatalogo">
      <soap:operation soapAction="http://tempuri.org/GetIpCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIpCatalogo">
      <soap:operation soapAction="http://tempuri.org/SetIpCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InfoSoap12" type="tns:InfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIp">
      <soap12:operation soapAction="http://tempuri.org/GetIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIp">
      <soap12:operation soapAction="http://tempuri.org/SetIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIpIntranet">
      <soap12:operation soapAction="http://tempuri.org/GetIpIntranet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIpIntranet">
      <soap12:operation soapAction="http://tempuri.org/SetIpIntranet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIpCatalogo">
      <soap12:operation soapAction="http://tempuri.org/GetIpCatalogo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIpCatalogo">
      <soap12:operation soapAction="http://tempuri.org/SetIpCatalogo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Info">
    <wsdl:port name="InfoSoap" binding="tns:InfoSoap">
      <soap:address location="http://www.autonauticasur-r.com.ar/Catalogo/Info.asmx" />
    </wsdl:port>
    <wsdl:port name="InfoSoap12" binding="tns:InfoSoap12">
      <soap12:address location="http://www.autonauticasur-r.com.ar/Catalogo/Info.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>