ANSv4/Catalogo4/Web References/RendicionWS/Rendicion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarRendicion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroRendicion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdViajante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="F_Rendicion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Efectivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dolares" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Euros" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChequesCant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChequesMonto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificadosCant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificadosMonto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DetalleValores" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DetalleRecibos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarRendicionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarRendicionResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarRendicionSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarRendicion" />
  </wsdl:message>
  <wsdl:message name="EnviarRendicionSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarRendicionResponse" />
  </wsdl:message>
  <wsdl:portType name="RendicionSoap">
    <wsdl:operation name="EnviarRendicion">
      <wsdl:input message="tns:EnviarRendicionSoapIn" />
      <wsdl:output message="tns:EnviarRendicionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RendicionSoap" type="tns:RendicionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarRendicion">
      <soap:operation soapAction="http://tempuri.org/EnviarRendicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RendicionSoap12" type="tns:RendicionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarRendicion">
      <soap12:operation soapAction="http://tempuri.org/EnviarRendicion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Rendicion">
    <wsdl:port name="RendicionSoap" binding="tns:RendicionSoap">
      <soap:address location="http://190.3.78.12/wsCatalogo4/Rendicion.asmx" />
    </wsdl:port>
    <wsdl:port name="RendicionSoap12" binding="tns:RendicionSoap12">
      <soap12:address location="http://190.3.78.12/wsCatalogo4/Rendicion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>