ANSv4_r1/Catalogo4/Web References/RecibosWS/Recibos_v_303.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarRecibo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroRecibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bahia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Facturas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarReciboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarReciboResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarRecibo317">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroRecibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bahia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Facturas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NotasCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarRecibo317Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarRecibo317Result" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarReciboSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarRecibo" />
  </wsdl:message>
  <wsdl:message name="EnviarReciboSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarReciboResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarRecibo317SoapIn">
    <wsdl:part name="parameters" element="tns:EnviarRecibo317" />
  </wsdl:message>
  <wsdl:message name="EnviarRecibo317SoapOut">
    <wsdl:part name="parameters" element="tns:EnviarRecibo317Response" />
  </wsdl:message>
  <wsdl:portType name="Recibos_v_303Soap">
    <wsdl:operation name="EnviarRecibo">
      <wsdl:input message="tns:EnviarReciboSoapIn" />
      <wsdl:output message="tns:EnviarReciboSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarRecibo317">
      <wsdl:input message="tns:EnviarRecibo317SoapIn" />
      <wsdl:output message="tns:EnviarRecibo317SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Recibos_v_303Soap" type="tns:Recibos_v_303Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarRecibo">
      <soap:operation soapAction="http://tempuri.org/EnviarRecibo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRecibo317">
      <soap:operation soapAction="http://tempuri.org/EnviarRecibo317" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Recibos_v_303Soap12" type="tns:Recibos_v_303Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarRecibo">
      <soap12:operation soapAction="http://tempuri.org/EnviarRecibo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRecibo317">
      <soap12:operation soapAction="http://tempuri.org/EnviarRecibo317" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Recibos_v_303">
    <wsdl:port name="Recibos_v_303Soap" binding="tns:Recibos_v_303Soap">
      <soap:address location="http://190.3.78.12/wsCatalogo4/Recibos_v_303.asmx" />
    </wsdl:port>
    <wsdl:port name="Recibos_v_303Soap12" binding="tns:Recibos_v_303Soap12">
      <soap12:address location="http://190.3.78.12/wsCatalogo4/Recibos_v_303.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>