ANSv4/Catalogo4/Web References/ClientesNovedadesWs/ClientesNovedades.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ClientesNovedades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fechas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Novedades" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clientes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Viajantes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesNovedadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientesNovedadesResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClientesNovedadesSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesNovedades" />
  </wsdl:message>
  <wsdl:message name="ClientesNovedadesSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesNovedadesResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientesNovedadesSoap">
    <wsdl:operation name="ClientesNovedades">
      <wsdl:input message="tns:ClientesNovedadesSoapIn" />
      <wsdl:output message="tns:ClientesNovedadesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientesNovedadesSoap" type="tns:ClientesNovedadesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientesNovedades">
      <soap:operation soapAction="http://tempuri.org/ClientesNovedades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientesNovedadesSoap12" type="tns:ClientesNovedadesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientesNovedades">
      <soap12:operation soapAction="http://tempuri.org/ClientesNovedades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientesNovedades">
    <wsdl:port name="ClientesNovedadesSoap" binding="tns:ClientesNovedadesSoap">
      <soap:address location="http://190.3.78.12/wsCatalogo4/ClientesNovedades.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientesNovedadesSoap12" binding="tns:ClientesNovedadesSoap12">
      <soap12:address location="http://190.3.78.12/wsCatalogo4/ClientesNovedades.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>