ANSv4/Catalogo4/Web References/AuditWS/audit_v_304.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuditInBlock304">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fechas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Descripciones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuditInBlock304Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditInBlock304Result" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuditInBlock304SoapIn">
    <wsdl:part name="parameters" element="tns:AuditInBlock304" />
  </wsdl:message>
  <wsdl:message name="AuditInBlock304SoapOut">
    <wsdl:part name="parameters" element="tns:AuditInBlock304Response" />
  </wsdl:message>
  <wsdl:portType name="audit_v_304Soap">
    <wsdl:operation name="AuditInBlock304">
      <wsdl:input message="tns:AuditInBlock304SoapIn" />
      <wsdl:output message="tns:AuditInBlock304SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="audit_v_304Soap" type="tns:audit_v_304Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuditInBlock304">
      <soap:operation soapAction="http://tempuri.org/AuditInBlock304" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="audit_v_304Soap12" type="tns:audit_v_304Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuditInBlock304">
      <soap12:operation soapAction="http://tempuri.org/AuditInBlock304" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="audit_v_304">
    <wsdl:port name="audit_v_304Soap" binding="tns:audit_v_304Soap">
      <soap:address location="http://190.3.78.12/wsCatalogo4/audit_v_304.asmx" />
    </wsdl:port>
    <wsdl:port name="audit_v_304Soap12" binding="tns:audit_v_304Soap12">
      <soap12:address location="http://190.3.78.12/wsCatalogo4/audit_v_304.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>